.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 12px 4%;
    font-size: 0.9 rem;
    color: white;
    background: linear-gradient(to bottom, rgba(134, 41, 41, 0.6) rgba(0, 0, 0, 0.6));
    transform: background-color 0.3s ease-in-out;
    a {
        color: white;
        text-decoration: none;
    }
    &--black {
        background-color: black;
    }
    &_burger {
        cursor: pointer;
        color: white;
        margin-right: 1rem;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &--logo {
        max-width: 100px;
    }
    &__links {
        margin-left: 20px;
        transform: background-color 0.3s ease-in-out;

        .nav__link {
            padding: 5px, 10px;

            margin-left: 10px;
        }
        @media screen and (max-width: 768px) {
            visibility: hidden;
            margin-left: 0;
            position: absolute;
            top: 110%;
            right: 0;
            .show & {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: calc(100vh -60px) ;
                top: 60px;
                visibility: visible;
                background-color: black;
            }
            .nav__link {
                padding: 15px 4%;
                font-size: 1.5rem;
            }
        }
    }
    &__actions {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex: 1;
        .nav__action {
            margin-left: 10px;
            @media screen and (min-width: 768px) {
                margin-left: 20px;
            }
        }
    }
}
